body{
 background-image: url('bg\ 1.jpg');
    background-color: #E6F7FF; 
    font-family: 'Inter', sans-serif; 
    color: #333; 
    text-align: center; 
    padding-top: 50px
}
header{
  color: #004AAD; 
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;

}

.serti1{
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.sertifikat{
    text-align: center;
    color: rgb(223, 221, 221);
    align-items: center;
   padding: 10px ;
}
.container{
  
 transform: scale(0);
 animation: zoom-in 1s ease forwards;
 }
 @keyframes zoom-in {
  100% {
    transform: scale(1);
  }
  
}
  .navbar a {
  font-size: 18px;
  color: #e9e6e6;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  border-bottom: 2px solid transparent;
  transition: .5s;
 transform: scale(0);
 animation: zoom-in 1s ease forwards;
 }


 .navbar a:hover,
 .navbar a.active {
  border-color: #fe3402;

 }



