@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
    background-image: url(wp1.jpg);
}
.h1{
  color: rgb(red, green, blue);
}
.bergerak{
  color:rgb(151, 151, 151);
}
 .container{
  position: relative;
  height: 100%;
 background: rgba(225, 255, 255, .1);
 border: 2vh solid rgba(225, 255, 255, .2);
 border-radius: 100vh;
 backdrop-filter: blur(30vh);
 transform: scale(0);
 animation: zoom-in 1s ease forwards;
 }
 @keyframes zoom-in {
  100% {
    transform: scale(1);
  }
 }
 header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25vh 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
 }
 .animated {
 transform:  translateY(30px);
 opacity: 0;
 }
 @keyframes slide-in {
  100%{
  transform: translateY(0);
  opacity: 1;
  animation: slide-in 1s ease forwards;
  animation-delay: 1s;
  }
 }
 .Logo{
  font-size: 25vh;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
 }

 .navbar a {
  font-size: 18vh;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35vh;
  border-bottom: 2vh solid transparent;
  transition: .5s;
 }

 .navbar a:hover,
 .navbar a.active {
  border-color: #fff;

 }
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45vh;            
  height: 45vh;
  background: transparent;        
  border-radius: 50%;     
  box-shadow: 0 0 10vh #fff;
  color: #333;              
  font-size: 20vh;         
  text-decoration: none;
  margin-right: 12vh;
  transition: 0.3s;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50vh;
  padding: 50vh 5% 0;
  color: #fff;
  animation-delay: 1.5s;
}
.home-detail {
  flex: 1; 
}
 .home-detail h1 {
  font-size: 55vh;
  line-height: 1;
 }

 .home-detail h2 {
  font-size: 32vh;
 }

 .home-detail p {
  margin: 10vh 0 20vh;
 }
.download-social {
  margin-top: 20vh;
}
 .home-detail .download-social {
  display: flex;
  align-items: center;
  gap: 25vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
 }
 .btn {
  display: inline-block;
  padding: 10vh 30vh;
  background: #fff;
  border: 2vh solid #fff;
  border-radius: 40vh;
  box-shadow: 0 0 10vh #fff;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  margin-right: 50vh;
  transition: .5s;
  font-size: 18vh;

 }

 .btn:hover {
  background: transparent;
  color: #fff;
  box-shadow: none;
 }

 .home-detail .social-icons{
  margin-left: 20vh;
 }


 .home-detail .social-icons a {
    display: inline-flex;
   padding: 8vh;
border: #fff;
border-radius: 50%;
font-size: 20vh;
color: #fff;
text-decoration: none;
margin: 0 8vh;
transition: .5s;
 }  

  .home-detail .social-icons a:hover {
    background: #fff;
    color: #333;
    box-shadow: 0 0 10vh #fff;
  }

  .home-img {
  flex-shrink: 0; 
  margin-right: 40vh;
}
.home-img .img-box {
  position: relative;
  width: 250vh;
  height: 250vh;
  border: 2vh solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 20vh #fff;
  overflow: hidden;
}

  .home-img .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
